*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #cfcccc;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #555;
    align-items: center;
}
header h1{
    color: #f0f0f0;
    border-bottom: 3px solid #ee4b4b;
}

ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #f0f0f0;
    border-bottom: 3px solid #ee4b4b;
}
section{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 30%;
    width: 800px;
    height: 400px;
    background-color: #555;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #666;
    border-radius: 34px;
    border: 1px solid #FF0000;
    top: 20%;
}
section h1{
    color: red;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: auto;
    background: linear-gradient(to right, #CF0000 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .link-container, .format-container, .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 500px;
}

section .link-container label, .format-container label{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    /* color: #444; */
    background: linear-gradient(to right, #CF0000 0%, #FFFFFF 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .link-container input, .format-container select{
    outline: none;
    height: 35px;
    border-radius: 35px;
    padding: 0 10px;
    border: 2px solid #666666;
    font-size: 14px;
    border: 0.25vmin solid #A30500;
    border-radius: 1vmin;
    font-size: 16px;
    padding-left: 11px;
    font-family: arial;
    background-image: linear-gradient(140deg, #f5f5f5 0%, #c34242 50%, #D66356 75%);
}

select .button-container button{
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: #ee4b4b;
    letter-spacing: 1px;
    cursor: pointer;
    
}

@media only screen and (max-width: 850px) {

    section{
        width: 500px;

    }
    section .link-container ,
    .format-container,
    .button-container{
        width: 300px;
    }
}

@media only screen and (max-width: 550px) {

    section{
        width: 350px;
        height: 450px;

    }
    section .link-container ,
    .format-container,
    .button-container{
        width: 300px;
    }
}
.btn{
    font-family: arial;
    font-weight: bold;
    color: #CFCCCC !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #D66356;
    box-shadow: 1px 1px 1px #F98686;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #A30500;
    background: linear-gradient(to top, #EE3628, #CF776A);
}
.btn:hover {
  color: #FFFDFC !important;
  background: #FF1100;
  background: linear-gradient(to top, #FF1100, #EE7272);
}
