.Conteiner{    
transform: translateX(-50%);
position: absolute;
left: 50%;
bottom: 0;
color: blue
}

.Nadpis{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10px;
}

.paragraf{
position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
}
.hodiny{
position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 300px;
    font-size: 1000px;
}


