.Conteiner{    
transform: translateX(-50%);
position: absolute;
left: 50%;
bottom: 0;
color: white;
}

.Nadpis{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10px;
    color: white;
}

.paragraf{
position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    color: white;
}
.hodiny{
transform: translateX(-50%);
position: absolute;
left: 50%;
top: 300px;
font-size: 100px;
color: white;
}
body {
    background-color: gray;
    font-family: system-ui;
}

