* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
@font-face {
    font-family: Agrandir;
    src: url("font/Agrandir-Regular.otf");
}
@font-face {
    font-family: Agrandir-bold;
    src: url("font/Agrandir-TextBold.otf");
}
a {
    font-family: Agrandir-bold;
    z-index: 1;
    color: #FFFFFF;
    font-size: 3vmin;
    margin-right: 15vmin;
    text-decoration: none;
    transition: 1s color;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: red;
}
.pozadi {
    top: -75%;
    position: fixed;
    width: 100%;
    border: none;
}
.pozadi1 {
    position: absolute;
    display: flex;
    top: 6vmin;
    right: 0;
}
.pozadi2 {
    position: absolute;
    top: 0vmin;
    width: 53vmin;
}
.pozadi2 p {
    position: absolute;
    margin-left: 16vmin;
    margin-top: 5.2vmin;
    color: #FFFFFF;
    font-size: 6vmin;
    font-family: Agrandir-bold;
}
.pozadi2 img {
    position: absolute;
    width: 17vmin;
}
.pozadi3 {
    border-radius: 4vmin;
    background: linear-gradient(to bottom right, #746ee4ff, #303dd8ff);
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 96vmin;
    height: 46vmin;
    border: 0.3vmin solid #c3c0eeff;
}
.pozadi3 p {
    font-family: Agrandir-bold;
    color: #FFFFFF;
    font-size: 3vmin;
    letter-spacing: 0.2vmin;
    padding-top: 3vmin;
    padding-left: 3vmin;
    margin-bottom: -1vmin;
}
.pozadi3 input {
    font-family: Agrandir-bold;
    background: #c3c0eeff;
    border: 0.3vmin solid black;
    border-radius: 3vmin;
    width: 60vmin;
    padding: 1vmin;
    margin: 2vmin;
    color:#595ce2ff;
    font-size: 3vmin;
}
.pozadi3 input::placeholder {
    color: #595ce2ff;
}
.pozadi3 select {
    font-family: Agrandir-bold;
    background: #c3c0eeff;
    border: 0.3vmin solid black;
    border-radius: 3vmin;
    width: 60vmin;
    padding: 1vmin;
    margin: 2vmin;
    color:#595ce2ff;
    cursor: pointer;
    font-size: 3vmin;
}
.pozadi3 button {
    background: none;
    border: 0.3vmin solid black;
    padding-block: 3vmin;
    border-radius: 5vmin;
    padding-inline: 10vmin;
    position: absolute;
    bottom: 2vmin;
    left: 50%;
    transform: translateX(-50%);
    font-family: Agrandir-bold;
    color: #FFFFFF;
    font-size: 3vmin;
    letter-spacing: 0.2vmin;
    cursor: pointer;
    transition: 0.5s background-color;
}
.pozadi3 button:active {
    transition: 0s background-color;
    background-color: #ff2424;
}

@media (min-aspect-ratio: 14/5) {
.pozadi {
    top: -85%;
    position: fixed;
    width: 100%;
    border: none;
}
}

@media (min-aspect-ratio: 11.5/5) {

}

@media (max-aspect-ratio: 9.65/5) {
    .pozadi {
        top: -65%;
        position: fixed;
        width: 100%;
        border: none;
    }
    }
@media (max-aspect-ratio: 9.1/5) {
.pozadi {
    top: -60%;
    position: fixed;
    width: 100%;
    border: none;
}
}
@media (max-aspect-ratio: 8.5/5) {
.pozadi {
    top: -50%;
    position: fixed;
    width: 100%;
    border: none;
}
}
@media (max-aspect-ratio: 8.2/5) {
.pozadi {
    top: -45%;
    position: fixed;
    width: 100%;
    border: none;
}
}
@media (max-aspect-ratio: 7.5/5) {
.pozadi {
    top: 0;
    position: fixed;
    width: 100%;
    border: none;
}
a {
    font-family: Agrandir-bold;
    z-index: 1;
    color: #FFFFFF;
    font-size: 3vmin;
    margin-right: 7vmin;
}
.pozadi2 p {
    position: absolute;
    margin-left: 11vmin;
    margin-top: 5.2vmin;
    color: #FFFFFF;
    font-size: 5vmin;
    font-family: Agrandir-bold;
}
.pozadi2 img {
    top: 2vmin;
    position: absolute;
    width: 12vmin;
}

}
@media (max-aspect-ratio: 6.3/5) {
.pozadi {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    border: none;
}
}